pension-online/pension-online-1111/pension-online-1111-definition/src/main/resources/ETMP_PODSPSASubscriptionCreate_Body.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Cap Gemini (Cap Gemini (UK) PLC) -->
<xsd:schema xmlns:subm="http://hmrc.gov.uk/etmp/digitalgateway/PODS" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://hmrc.gov.uk/etmp/digitalgateway/PODS" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="PSA_SubscriptionReq" type="subm:PSASubscriptionRequestType">
		<xsd:annotation>
			<xsd:documentation>Root Element</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
 <xsd:complexType name="PSASubscriptionRequestType">
  <xsd:annotation>
   <xsd:documentation> </xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="SubscriptionGeneric">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="NonUKCustomer" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>Flag to indicate Non UK customer or not'true'=  Non UK Customer'false'= UK Customer</xsd:documentation>
       </xsd:annotation>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="LegalEntityAndCustID">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="LegalStatus">
       <xsd:annotation>
        <xsd:documentation>1 = Individual,
3 = Partnership,
7 = Limited Company
</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="2"/>
         <xsd:enumeration value="1"/>
         <xsd:enumeration value="3"/>
         <xsd:enumeration value="7"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IDType" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>For Individual (01) - NINO,
For Limited Company (07)- UTR (CT UTR),
For Partnership (03)- UTR (SA UTR)</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="10"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IDNumber" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>For Individual (01) - NINO,
For Limited Company (07)- UTR (CT UTR),
For Partnership (03)- UTR (SA UTR)</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="8"/>
         <xsd:maxLength value="15"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NoIdentifier" minOccurs="1" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>'true'= select this flag for non-UK customers, because an identifier is not applicable for Non-UK customers,
'false '= select this flag for UK customers, because an identifier is mandatory for UK customer</xsd:documentation>
       </xsd:annotation>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="OrganisationDetails" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Mandatory if LegalStatus value 03 = Partnership OR  07 = Limited Company</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="OrganisationName" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation> </xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="160"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CRNNumber" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation> </xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="7"/>
         <xsd:maxLength value="8"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VATRegNumber" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="9"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PAYEReference" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="16"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="IndividualDetails" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Mandatory if LegalStatus value 01 = Individuals</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Title" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>Possible values
0001: Mr
0002: Mrs
0003: Miss
0004: Ms
0005: Dr
0006: Sir
0009: Professor
0010: Lord </xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:length value="4"/>
         <xsd:enumeration value="0001"/>
         <xsd:enumeration value="0002"/>
         <xsd:enumeration value="0003"/>
         <xsd:enumeration value="0004"/>
         <xsd:enumeration value="0005"/>
         <xsd:enumeration value="0006"/>
         <xsd:enumeration value="0009"/>
         <xsd:enumeration value="0010"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FirstName" minOccurs="1">
       <xsd:annotation>
        <xsd:documentation>First Name </xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MiddleName" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>( Second Name also known as Middle Name )</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LastName" minOccurs="1">
       <xsd:annotation>
        <xsd:documentation>Last Name</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DateofBirth" type="xsd:date" minOccurs="1">
       <xsd:annotation>
        <xsd:documentation></xsd:documentation>
       </xsd:annotation>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ExistingPSAID">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="ExistingPSAID" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>Flag to indicate  whether PSA has existing PSAID-
'true'= if ExistingPSAID is Yes,
'false'=  if ExistingPSAID is No
</xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExistingPSAIDReference" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:length value="8"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CorrespondenceAddressDetails" minOccurs="1">
    <xsd:annotation>
     <xsd:documentation>CORRESPONDENCE CONTACT DETAILS SECTION</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
     <xsd:complexContent>
      <xsd:extension base="subm:AddressDetailsType"/>
     </xsd:complexContent>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CorrespondenceContactDetails" minOccurs="1">
    <xsd:complexType>
     <xsd:complexContent>
      <xsd:extension base="subm:ContactDetailsType"/>
     </xsd:complexContent>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="PreviousAddressDetails">
    <xsd:annotation>
     <xsd:documentation>BUSINESS CONTACT DETAILS SECTION</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
     <xsd:complexContent>
      <xsd:extension base="subm:PreviousAddressType"/>
     </xsd:complexContent>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="NumOfDirOrPartnrsDetails" minOccurs="0">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="DirectorsMorethan10" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>Applicable only for Limited company /organisation-
Select  ‘Yes’ when number of directors more than 10 partners,Select ‘No’  when number of directors less than or equal to 10</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
         <xsd:enumeration value="Yes"/>
         <xsd:enumeration value="No"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PartnersMorethan10" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>
Applicable only for partnership-
Select  ‘Yes’ when number of partners more than 10 partners,Select ‘No’  when number of partners less than or equal to 10</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="3"/>
         <xsd:enumeration value="Yes"/>
         <xsd:enumeration value="No"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="EntityAndDirOrPartnrDetails" maxOccurs="unbounded" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Mandatory if LegalStatus value 03 = Partnership OR  07 = Limited Company ( Number of Directors Or Partners Nodes minimum 1 and Maximum 10 ) </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="SeqID">
       <xsd:annotation>
        <xsd:documentation>possible value format : 001</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:length value="3"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EntityType">
       <xsd:annotation>
        <xsd:documentation>P-PartnerD-Director</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:length value="1"/>
         <xsd:enumeration value="P"/>
         <xsd:enumeration value="D"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Title" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>Possible values0001: Mr0002: Mrs0003: Miss0004: Ms0005: Dr0006: Sir0009: Professor0010: Lord</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:length value="4"/>
         <xsd:enumeration value="0001"/>
         <xsd:enumeration value="0002"/>
         <xsd:enumeration value="0003"/>
         <xsd:enumeration value="0004"/>
         <xsd:enumeration value="0005"/>
         <xsd:enumeration value="0006"/>
         <xsd:enumeration value="0009"/>
         <xsd:enumeration value="0010"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FirstName" minOccurs="1">
       <xsd:annotation>
        <xsd:documentation></xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MiddleName" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation></xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LastName" minOccurs="1">
       <xsd:annotation>
        <xsd:documentation></xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DateofBirth" type="xsd:date" minOccurs="1">
       <xsd:annotation>
        <xsd:documentation></xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="NINORef" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="9"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IfnoNINOreason" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>Reason is mandatory if no NINO reference is provided</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="160"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="UTRRef" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:length value="10"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IfnoUTRreason" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>Reason is mandatory if no UTR reference is provided</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="160"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CorrespCommDeails" minOccurs="0">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="AddressDetails" type="subm:AddressDetailsType"/>
         <xsd:element name="ContactDetails" type="subm:ContactDetailsType"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="PrevAddressDetails" minOccurs="0" type="subm:PreviousAddressType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="Declaration">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="PSADeclarationBox1" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>PSADeclarationBox1 - For Additional Actual text / Description-  please refer related document in the EPID Appendix Section </xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="PSADeclarationBox2" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>PSADeclarationBox2 - For Additional Actual text / Description-  please refer related document in the EPID Appendix Section </xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="PSADeclarationBox3" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>PSADeclarationBox3 - For Additional Actual text / Description-  please refer related document in the EPID Appendix Section </xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="PSADeclarationBox4" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>PSADeclarationBox4 - For Additional Actual text / Description-  please refer related document in the EPID Appendix Section </xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="PSADeclarationBox5" type="xsd:boolean" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>If PSADeclarationBox5 is selected then PSADeclarationBox6 is an optional field. (For Additional Actual text / Description-  please refer related document in the EPID Appendix Section ) </xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="PSADeclarationBox6" type="xsd:boolean" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>If PSADeclarationBox6 is selected then provide pension advisor details and PSADeclarationBox5 is an optional field.(For Additional Actual text / Description-  please refer related document in the EPID Appendix Section)</xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="PensionAdviDeails" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>Pension Advisor details are mandatory if PSADeclarationBox6 is ‘true’ </xsd:documentation>
       </xsd:annotation>
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="PensionAdviserName" minOccurs="1">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="255"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:element>
         <xsd:element name="AddressDetails" type="subm:AddressDetailsType" minOccurs="1"/>
         <xsd:element name="ContactDetails" type="subm:ContactDetailsType" minOccurs="1"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="PSADeclarationBox7" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>PSADeclarationBox7 - For Additional Actual text / Description-  please refer related document in the EPID Appendix Section </xsd:documentation>
       </xsd:annotation>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="AddressType">
  <xsd:sequence>
   <xsd:element name="AddressLine1">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="AddressLine2">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="AddressLine3" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="AddressLine4" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PostCode" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Post code field  Mandatory if address is UK</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="Country" type="subm:CountryType" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="AddressDetailsType">
  <xsd:sequence>
   <xsd:element name="NonUKAddress" type="xsd:boolean">
    <xsd:annotation>
     <xsd:documentation>‘true’=  Not UK address' fasle '=  UK address</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="AddressLine1">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="AddressLine2">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="AddressLine3" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="AddressLine4" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PostCode" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Post code field  Mandatory if address is UK</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CountryCode" type="subm:CountryType" minOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PreviousAddressType">
  <xsd:sequence>
   <xsd:element name="PrevAddLast12mon" type="xsd:boolean">
    <xsd:annotation>
     <xsd:documentation>'true'=  Previous address selected'false'=  Previous address not selected</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="PrevAddressDetails" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Mandatory if PrevAddLast12Mon = true</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="NonUKAddress" type="xsd:boolean">
       <xsd:annotation>
        <xsd:documentation>true - If address is NOT in UK
false - Address is in the UK
</xsd:documentation>
       </xsd:annotation>
      </xsd:element>
      <xsd:element name="AddressLine1">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AddressLine2">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AddressLine3" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AddressLine4" minOccurs="0">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="35"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PostCode" minOccurs="0">
       <xsd:annotation>
        <xsd:documentation>Post code field  Mandatory if address is UK</xsd:documentation>
       </xsd:annotation>
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="10"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CountryCode" type="subm:CountryType" minOccurs="1"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ContactDetailsType">
  <xsd:sequence>
   <xsd:element name="Telephone">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="24"/>
      <xsd:minLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="Mobile" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="24"/>
      <xsd:minLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="Fax" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="24"/>
      <xsd:minLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="Email">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:minLength value="3"/>
      <xsd:maxLength value="132"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="CountryType">
  <xsd:restriction base="xsd:string">
   <xsd:length value="2"/>
   <xsd:enumeration value="AD"/>
   <xsd:enumeration value="AE"/>
   <xsd:enumeration value="AF"/>
   <xsd:enumeration value="AG"/>
   <xsd:enumeration value="AI"/>
   <xsd:enumeration value="AL"/>
   <xsd:enumeration value="AM"/>
   <xsd:enumeration value="AN"/>
   <xsd:enumeration value="AO"/>
   <xsd:enumeration value="AQ"/>
   <xsd:enumeration value="AR"/>
   <xsd:enumeration value="AS"/>
   <xsd:enumeration value="AT"/>
   <xsd:enumeration value="AU"/>
   <xsd:enumeration value="AW"/>
   <xsd:enumeration value="AX"/>
   <xsd:enumeration value="AZ"/>
   <xsd:enumeration value="BA"/>
   <xsd:enumeration value="BB"/>
   <xsd:enumeration value="BD"/>
   <xsd:enumeration value="BE"/>
   <xsd:enumeration value="BF"/>
   <xsd:enumeration value="BG"/>
   <xsd:enumeration value="BH"/>
   <xsd:enumeration value="BI"/>
   <xsd:enumeration value="BJ"/>
   <xsd:enumeration value="BL"/>
   <xsd:enumeration value="BM"/>
   <xsd:enumeration value="BN"/>
   <xsd:enumeration value="BO"/>
   <xsd:enumeration value="BQ"/>
   <xsd:enumeration value="BR"/>
   <xsd:enumeration value="BS"/>
   <xsd:enumeration value="BT"/>
   <xsd:enumeration value="BV"/>
   <xsd:enumeration value="BW"/>
   <xsd:enumeration value="BY"/>
   <xsd:enumeration value="BZ"/>
   <xsd:enumeration value="CA"/>
   <xsd:enumeration value="CC"/>
   <xsd:enumeration value="CD"/>
   <xsd:enumeration value="CF"/>
   <xsd:enumeration value="CG"/>
   <xsd:enumeration value="CH"/>
   <xsd:enumeration value="CI"/>
   <xsd:enumeration value="CK"/>
   <xsd:enumeration value="CL"/>
   <xsd:enumeration value="CM"/>
   <xsd:enumeration value="CN"/>
   <xsd:enumeration value="CO"/>
   <xsd:enumeration value="CR"/>
   <xsd:enumeration value="CS"/>
   <xsd:enumeration value="CU"/>
   <xsd:enumeration value="CV"/>
   <xsd:enumeration value="CW"/>
   <xsd:enumeration value="CX"/>
   <xsd:enumeration value="CY"/>
   <xsd:enumeration value="CZ"/>
   <xsd:enumeration value="DE"/>
   <xsd:enumeration value="DJ"/>
   <xsd:enumeration value="DK"/>
   <xsd:enumeration value="DM"/>
   <xsd:enumeration value="DO"/>
   <xsd:enumeration value="DZ"/>
   <xsd:enumeration value="EC"/>
   <xsd:enumeration value="EE"/>
   <xsd:enumeration value="EG"/>
   <xsd:enumeration value="EH"/>
   <xsd:enumeration value="ER"/>
   <xsd:enumeration value="ES"/>
   <xsd:enumeration value="ET"/>
   <xsd:enumeration value="EU"/>
   <xsd:enumeration value="FC"/>
   <xsd:enumeration value="FI"/>
   <xsd:enumeration value="FJ"/>
   <xsd:enumeration value="FK"/>
   <xsd:enumeration value="FM"/>
   <xsd:enumeration value="FO"/>
   <xsd:enumeration value="FR"/>
   <xsd:enumeration value="GA"/>
   <xsd:enumeration value="GB"/>
   <xsd:enumeration value="GD"/>
   <xsd:enumeration value="GE"/>
   <xsd:enumeration value="GF"/>
   <xsd:enumeration value="GG"/>
   <xsd:enumeration value="GH"/>
   <xsd:enumeration value="GI"/>
   <xsd:enumeration value="GL"/>
   <xsd:enumeration value="GM"/>
   <xsd:enumeration value="GN"/>
   <xsd:enumeration value="GP"/>
   <xsd:enumeration value="GQ"/>
   <xsd:enumeration value="GR"/>
   <xsd:enumeration value="GS"/>
   <xsd:enumeration value="GT"/>
   <xsd:enumeration value="GU"/>
   <xsd:enumeration value="GW"/>
   <xsd:enumeration value="GY"/>
   <xsd:enumeration value="HK"/>
   <xsd:enumeration value="HM"/>
   <xsd:enumeration value="HN"/>
   <xsd:enumeration value="HR"/>
   <xsd:enumeration value="HT"/>
   <xsd:enumeration value="HU"/>
   <xsd:enumeration value="ID"/>
   <xsd:enumeration value="IE"/>
   <xsd:enumeration value="IL"/>
   <xsd:enumeration value="IM"/>
   <xsd:enumeration value="IN"/>
   <xsd:enumeration value="IO"/>
   <xsd:enumeration value="IQ"/>
   <xsd:enumeration value="IR"/>
   <xsd:enumeration value="IS"/>
   <xsd:enumeration value="IT"/>
   <xsd:enumeration value="JE"/>
   <xsd:enumeration value="JM"/>
   <xsd:enumeration value="JO"/>
   <xsd:enumeration value="JP"/>
   <xsd:enumeration value="KE"/>
   <xsd:enumeration value="KG"/>
   <xsd:enumeration value="KH"/>
   <xsd:enumeration value="KI"/>
   <xsd:enumeration value="KM"/>
   <xsd:enumeration value="KN"/>
   <xsd:enumeration value="KP"/>
   <xsd:enumeration value="KR"/>
   <xsd:enumeration value="KW"/>
   <xsd:enumeration value="KY"/>
   <xsd:enumeration value="KZ"/>
   <xsd:enumeration value="LA"/>
   <xsd:enumeration value="LB"/>
   <xsd:enumeration value="LC"/>
   <xsd:enumeration value="LI"/>
   <xsd:enumeration value="LK"/>
   <xsd:enumeration value="LR"/>
   <xsd:enumeration value="LS"/>
   <xsd:enumeration value="LT"/>
   <xsd:enumeration value="LU"/>
   <xsd:enumeration value="LV"/>
   <xsd:enumeration value="LY"/>
   <xsd:enumeration value="MA"/>
   <xsd:enumeration value="MC"/>
   <xsd:enumeration value="MD"/>
   <xsd:enumeration value="ME"/>
   <xsd:enumeration value="MF"/>
   <xsd:enumeration value="MG"/>
   <xsd:enumeration value="MH"/>
   <xsd:enumeration value="MK"/>
   <xsd:enumeration value="ML"/>
   <xsd:enumeration value="MM"/>
   <xsd:enumeration value="MN"/>
   <xsd:enumeration value="MO"/>
   <xsd:enumeration value="MP"/>
   <xsd:enumeration value="MQ"/>
   <xsd:enumeration value="MR"/>
   <xsd:enumeration value="MS"/>
   <xsd:enumeration value="MT"/>
   <xsd:enumeration value="MU"/>
   <xsd:enumeration value="MV"/>
   <xsd:enumeration value="MW"/>
   <xsd:enumeration value="MX"/>
   <xsd:enumeration value="MY"/>
   <xsd:enumeration value="MZ"/>
   <xsd:enumeration value="NA"/>
   <xsd:enumeration value="NC"/>
   <xsd:enumeration value="NE"/>
   <xsd:enumeration value="NF"/>
   <xsd:enumeration value="NG"/>
   <xsd:enumeration value="NI"/>
   <xsd:enumeration value="NL"/>
   <xsd:enumeration value="NO"/>
   <xsd:enumeration value="NP"/>
   <xsd:enumeration value="NR"/>
   <xsd:enumeration value="NT"/>
   <xsd:enumeration value="NU"/>
   <xsd:enumeration value="NZ"/>
   <xsd:enumeration value="OM"/>
   <xsd:enumeration value="OR"/>
   <xsd:enumeration value="PA"/>
   <xsd:enumeration value="PE"/>
   <xsd:enumeration value="PF"/>
   <xsd:enumeration value="PG"/>
   <xsd:enumeration value="PH"/>
   <xsd:enumeration value="PK"/>
   <xsd:enumeration value="PL"/>
   <xsd:enumeration value="PM"/>
   <xsd:enumeration value="PN"/>
   <xsd:enumeration value="PR"/>
   <xsd:enumeration value="PS"/>
   <xsd:enumeration value="PT"/>
   <xsd:enumeration value="PW"/>
   <xsd:enumeration value="PY"/>
   <xsd:enumeration value="QA"/>
   <xsd:enumeration value="RE"/>
   <xsd:enumeration value="RO"/>
   <xsd:enumeration value="RS"/>
   <xsd:enumeration value="RU"/>
   <xsd:enumeration value="RW"/>
   <xsd:enumeration value="SA"/>
   <xsd:enumeration value="SB"/>
   <xsd:enumeration value="SC"/>
   <xsd:enumeration value="SD"/>
   <xsd:enumeration value="SE"/>
   <xsd:enumeration value="SG"/>
   <xsd:enumeration value="SH"/>
   <xsd:enumeration value="SI"/>
   <xsd:enumeration value="SJ"/>
   <xsd:enumeration value="SK"/>
   <xsd:enumeration value="SL"/>
   <xsd:enumeration value="SM"/>
   <xsd:enumeration value="SN"/>
   <xsd:enumeration value="SO"/>
   <xsd:enumeration value="SR"/>
   <xsd:enumeration value="SS"/>
   <xsd:enumeration value="ST"/>
   <xsd:enumeration value="SV"/>
   <xsd:enumeration value="SX"/>
   <xsd:enumeration value="SY"/>
   <xsd:enumeration value="SZ"/>
   <xsd:enumeration value="TC"/>
   <xsd:enumeration value="TD"/>
   <xsd:enumeration value="TF"/>
   <xsd:enumeration value="TG"/>
   <xsd:enumeration value="TH"/>
   <xsd:enumeration value="TJ"/>
   <xsd:enumeration value="TK"/>
   <xsd:enumeration value="TL"/>
   <xsd:enumeration value="TM"/>
   <xsd:enumeration value="TN"/>
   <xsd:enumeration value="TO"/>
   <xsd:enumeration value="TP"/>
   <xsd:enumeration value="TR"/>
   <xsd:enumeration value="TT"/>
   <xsd:enumeration value="TV"/>
   <xsd:enumeration value="TW"/>
   <xsd:enumeration value="TZ"/>
   <xsd:enumeration value="UA"/>
   <xsd:enumeration value="UG"/>
   <xsd:enumeration value="UM"/>
   <xsd:enumeration value="UN"/>
   <xsd:enumeration value="US"/>
   <xsd:enumeration value="UY"/>
   <xsd:enumeration value="UZ"/>
   <xsd:enumeration value="VA"/>
   <xsd:enumeration value="VC"/>
   <xsd:enumeration value="VE"/>
   <xsd:enumeration value="VG"/>
   <xsd:enumeration value="VI"/>
   <xsd:enumeration value="VN"/>
   <xsd:enumeration value="VU"/>
   <xsd:enumeration value="WF"/>
   <xsd:enumeration value="WS"/>
   <xsd:enumeration value="YE"/>
   <xsd:enumeration value="YT"/>
   <xsd:enumeration value="ZA"/>
   <xsd:enumeration value="ZM"/>
   <xsd:enumeration value="ZW"/>
   <xsd:enumeration value="ZZ"/>
  </xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
